.sideBar {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--header-secondary-color);
  min-width: var(--sidebar-width);
  transition: 0.4s;
  z-index: 1;
}

.collapsed {
  min-width: var(--sidebar-width-collapsed);
}

.switcher {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.sidebarSwitcherButton {
  text-align: center;
}
