.app.dark {
  --bg-color: #121212;
  --bg-inverted-color: #fff;
  --primary-color: #e1e1e1;
  --secondary-color: #a1a1a1;
  --header-font-color: #e5e5e5;
  --header-primary-color: #000;
  --header-secondary-color: #343333;
}
