.app.light {
  --bg-color: #ffffff;
  --bg-inverted-color: #121212;
  --primary-color: #202020;
  --secondary-color: #5b5b5b;
  --header-font-color: #eaddfc;
  --header-primary-color: #3700b3;
  --header-secondary-color: #6200ee;
}
